<!DOCTYPE html>
<html>
<head>
    <title>Edit Application</title>
</head>
<body>
    
    <form method="POST">
    <input type="text" name="company" value="{{ application.company }}">
    <input type="text" name="position" value="{{ application.position }}">
    <input type="date" name="application_date" value="{{ application.application_date }}">
    <input type="date" name="deadline" value="{{ application.deadline or '' }}">
    <input type="url" name="job_url" value="{{ application.job_url or '' }}">
    <textarea name="notes">{{ application.notes or '' }}</textarea>


    <select name="status">
    <option value="Applied" {% if application.status == "Applied" %}selected{% endif %}>Applied</option>
    <option value="Interview" {% if application.status == "Interview" %}selected{% endif %}>Interview</option>
    <option value="Rejected" {% if application.status == "Rejected" %}selected{% endif %}>Rejected</option>
    <option value="Offer" {% if application.status == "Offer" %}selected{% endif %}>Offer</option>
    </select>
    
    <button type="submit">Save</button>
</form>
</body>
</html>