<!DOCTYPE html>
<html>
<head>
    <title>Edit Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <a href="/">Back to Applications</a>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
    <input type="text" name="company" value="{{ form_data.get('company', application.company) }}">
    <input type="text" name="position" value="{{ form_data.get('position', application.position) }}">
    <input type="date" name="application_date" value="{{ form_data.get('application_date', application.application_date) }}">
    <input type="date" name="deadline" value="{{ form_data.get('deadline', application.deadline or '') }}">
    <input type="url" name="job_url" value="{{ form_data.get('job_url', application.job_url or '') }}">
    <textarea name="notes">{{ form_data.get('notes', application.notes or '') }}</textarea>


    <select name="status">
    <option value="Applied" {% if application.status == "Applied" %}selected{% endif %}>Applied</option>
    <option value="Interview" {% if application.status == "Interview" %}selected{% endif %}>Interview</option>
    <option value="Rejected" {% if application.status == "Rejected" %}selected{% endif %}>Rejected</option>
    <option value="Offer" {% if application.status == "Offer" %}selected{% endif %}>Offer</option>
    </select>
    
    <button type="submit">Save</button>
</form>
</body>
</html>